<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>Landscape</title>
    <style>
        .header {
            padding-top: 15px;
        }
        .update {
            margin-top: 30px;
        }
        .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <script>
        (
            function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
                (document, 'script', 'Messenger')
        );

        let senderID = '';
        const APP_ID = '';

        window.extAsyncInit = function () {
            MessengerExtensions.getContext(APP_ID, function success(thread_context) {
                senderID = thread_context.psid;
            },
                function error(err) {
                    console.log(err);
                });
        };
    </script>
    <div class="container">
        <h5 class="header"><%= heading %></h5>
        <div class="row">
            <% products.forEach(function(product) { %>
                <div class="col-6" width="100%">
                    <div class="card">
                        <img class="card-img-top" src="<%= product.image_url %>" height="100px" width="100px">
                        <div class="card-body">
                          <h6 class="card-title text-left"><%= product.title %></h6>
                          <a href="https://1f64c36a.ngrok.io/create/<%= collection %>/<%= senderPsid %>" class="btn btn-info btn-sm btn-block">New</a>
                          <a href="https://1f64c36a.ngrok.io/update/<%= collection %>/<%= product.title %>/<%= senderPsid %>" class="btn btn-primary btn-sm btn-block">Update</a>
                          <a href="https://1f64c36a.ngrok.io/delete/<%= collection %>/<%= product.title %>/<%= senderPsid %>" class="btn btn-danger btn-sm btn-block">Delete</a>
                        </div>
                      </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        
        const windowShut = () => {
            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("Browser close success");
            },
                function error(err) {
                    console.log(err);
                });
        }
        document.getElementById("form").addEventListener("submit", windowShut);
    </script>
</body>

</html>